<div class="container">
    <div class="row head">
        <div class="col-xs-12">
            <img id="background-img" src="/assets/img/gigefinal6.png">
        </div>
    </div>
</div>
<div class="container">
    <div class="things">
        <div class="row">
            <div class="col-xs-6 text-center" class="task">
                <div class="panel panel-default">
                    <div class="panel-heading" style="background-color: rgb(224, 224, 224);font-family: 'Sue Ellen Francisco', cursive;font-weight: 900; font-size: 2em;">Equiptment
                        List </div>
                    <div class="panel-body">
                        {{#each equiptment_data}}
                        {{#unless this.packed}}
                        <div class="row">
                            <div class="col-xs-9 text-left" style="font-weight: bold;">
                                <pre style=" font-family: 'Sue Ellen Francisco', cursive; font-size: 1.90em;">{{this.equiptment_name}} </pre>
                            </div>
                            <div class="col-xs-3 text-center">
                                <form method="POST" action="equiptment/{{id}}" class="button-size" style="line-height: 0px;">
                                    <input type="hidden" name="equiptment_id" type="text" value={{this.id}}>
                                    <br>
                                    <button type="sumbit" class="btn btn-default btn-success"><i class="fas fa-check"></i>

                                        Pack it!</button>
                                </form>
                            </div>
                        </div>
                        {{/unless}}
                        {{/each}}
                    </div>
                </div>
            </div>
            <div class="col-xs-6 text-center" class="task">
                <div class="panel panel-default">
                    <div class="panel-heading" style="background-color: rgb(224, 224, 224);padding:15px;font-weight: 900; font-size: 1.5em;">Gig
                        Bag <i class="fas fa-shopping-bag"></i>

                    </div>
                    <div class="panel-body">
                        {{#each equiptment_data}}
                        {{#if this.packed}}
                        <input class="form-control" type="text" placeholder="{{this.equiptment_name}} " readonly>
                        {{/if}}
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-xs-6 text-center enter_section">
                <div class="panel panel-default">
                    <div class="panel-heading" style="background-color: rgb(224, 224, 224);; font-weight: 900; font-size: 1.5em;">What
                        equiptment do you need? <i class="fas fa-pencil-alt"></i>

                    </div>
                    <div class="panel-body">
                        <form action="/add" method="POST">
                            <div class="input-group">
                                <input type="text" name="equiptment_name" class="form-control" value="" id="enter_text">
                                <br>
                                <span class="input-group-btn">
                                    <button type="sumbit" class="btn btn-primary" id="text-enter-button">Add</button>
                                </span>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 text-center enter_section">
                <div class="panel panel-default">
                    <div class="panel-heading" style="background-color: rgb(224, 224, 224);;font-weight: 900; font-size: 1.5em;">Clear
                        All!</div>
                    <div class="panel-body">
                        <form action="/delete" method="POST">
                            <button type="sumbit" class="btn btn-danger" id="text-enter-button">Delete</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>