#background-img {
    width: 100%;
}

.things {
    margin-top: 5%;
    margin-bottom:200px;
}

body {
    background-image: linear-gradient(rgb(1, 1, 17), rgb(39, 35, 102));
}

.panel {
    background-color:rgb(250, 250, 250);
}

